################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Easy
/src/ApiGateways/OcelotApiGw/bin/Debug/netcoreapp3.1
/src/Services/Identity.API/bin/Debug/netcoreapp3.1
/src/Services/Identity.API/obj
/src/Web/Standard/bin/Debug/netcoreapp3.1
/src/Web/Standard/obj
/src/ApiGateways/OcelotApiGw/obj
/src/Services/User.API/User.Application/obj
/src/Assemblies/Easy.HttpClient/obj
/src/Assemblies/EasyIdentity/obj
/src/Assemblies/EasyIdentity/bin/Debug/netcoreapp3.1
/src/Assemblies/Easy.HttpClient/bin/Debug/netstandard2.0
/src/Web/WebAdmin/bin/Debug/netcoreapp3.1
/src/Web/WebAdmin/obj
/src/Assemblies/EasyHttpClient/obj
/src/Assemblies/EasyHttpClient/bin/Debug/netstandard2.0
/src/Assemblies/EasySso/bin/Debug/netcoreapp3.1
/src/Assemblies/EasySso/obj
/src/Web/EasyAdmin/bin/Debug/netcoreapp3.1
/src/Web/EasyAdmin/obj
/src/Web/EasyShopClient/bin/Debug/netcoreapp3.1
/src/Web/EasyShopClient/obj
/src/Assemblies/EasyAuth/obj
/src/Assemblies/EasyAuth/bin/Debug/netcoreapp3.1
/src/web/mvc/easy.mvc.sso/VueApp/dist
/src/web/mvc/easy.mvc.sso/Views/Home/Index.cshtml
/src/assembly/easy.sso.assembly/bin
/src/assembly/easy.sso.assembly/obj
/src/Web/mvc/easy.mvc.admin/bin
/src/Web/mvc/easy.mvc.admin/obj
/src/Web/mvc/easy.mvc.eshop/bin
/src/Web/mvc/easy.mvc.eshop/obj
/src/Web/mvc/easy.mvc.sso/bin
/src/Web/mvc/easy.mvc.sso/obj
/src/Web/mvc/easy.mvc.sso/wwwroot
/src/web/mvc/easy.mvc.sso/appsettings.json
/src/web/mvc/easy.mvc.sso/appsettings.Development.json
